<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body >
    <div class="container">
        <h1 class="title">Editing page</h1>
        <div class="input">
            <textarea name="" id="" class="text"></textarea>
            <button class="btn">update </button>
        </div>
    </div>
    
</body>
</html>