*{
    padding:0;
    margin:0;

}
body{
    background-image: url("../images/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zMDktYWV3LTAxM18xXzEuanBn.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.container {
    max-width: 500px;
    width: 100%;
    margin:10%;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: palevioletred;

    
    

  }
  textarea {
    width: 250px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    resize: vertical;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
  }
  .button-container {
    text-align: center;
    margin-bottom: 30px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid black;
    border-width: 3px;
    font-size: 20px;

  }
  
  table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }